.container {
}

.row {
  margin-top: 75px;
}

.question-wrapper {
  padding-top: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: center;
  background-color: white;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.question-wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.flex-outer {
  display: flex;
  list-style: none;
}

.answer-input {
  margin-right: 10px;
}

.answer {
  margin-left: auto;
}

.score-wrapper {
  padding: 2.5rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.score-wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.progress-wrapper {
  margin-top: 20px;
  padding: 2.5rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.progress-wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
li {
  list-style-type: none;
}

.ask-emoji {
  font-size: 200px;
}

.question {
  font-size: 100px;
}

.green {
  color: green;
}
.red {
  color: red;
}
